{% extends "base.html" %}

{% block content %}

<h1>Add Product Review</h1>
<h2>{{productname.name}}</h2>
<h3>Product ID: {{productreviewstats.pid}}</h3>
<h3>Average Rating: {{productreviewstats.average}}/5</h3>
<h3># of Reviews: {{productreviewstats.number}}</h3>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.rating.label }}<br/>
    {{ form.rating(size=32) }}<br/>
    {% for error in form.rating.errors %}
    <span style="color: #D24694;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.comment.label }}<br/>
    {{ form.comment(cols = 100, rows = 10) }}<br/>
    {% for error in form.comment.errors %}
    <span style="color: #D24694;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit(class_="btn btn-secondary") }}</p>
</form>

<form action='/productreviews/{{productname.pid}}/0' method="post">
  <input type="submit" name="productreviews" class = "btn btn-secondary" value="Cancel" />
</form>

{% endblock %}