{% extends "base.html" %}

{% block content %}

<h2>Order Confirmation:</h2>
<h4>Ordered Items</h4>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">FINAL Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <th scope="row">{{item.pid}}</th>
          <th scope="row">{{item.name}}</th>
          <th scope="row">{{item.p_quantity}}</th>
  
          <th scope="row">{{item.unit_price}}</th>
          <th scope="row">{{item.unit_price * item.p_quantity}}</th>
          <th scope="row">{{status}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h4>Status: Not Fulfilled</h4>
  <h3>Order Total: {{total}}</h3> 

{% endblock %}
