{% extends "base.html" %}

{% block content %}

<h1>Orders:</h1>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Date Ordered</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
            <th scope="row">{{order.oid}}
                <form action="{{url_for('ind_orderPage.ind_orderPage', oid = order.oid)}}" method="POST">  
                    <input type="submit" value="Details" class="btn btn-secondary"> 
                    </form>
            </th>

            <th scope="row">{{order.time_purchased}}</th>
            {% if order.fulfilled == false %}
            <th scope="row">Not Fulfilled</th>
            {% endif %}

            {% if order.fulfilled == true %}
            <th scope="row">Fulfilled</th>
            {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
