{% extends "base.html" %}

{% block content %}


<div class="profile">
  <h1>Hello {{current_user.firstname}}!</h1>
  <article>
    <h4>User ID: {{current_user.uid}}</h4>
    <h4>Email: {{current_user.email}}</h4>
    <h4>Name: {{current_user.firstname + " " + current_user.lastname}}</h4>
    {% if current_user.address %}
      <h4>Address: {{current_user.address}}</h4>
    {% endif %}
    <h4>Password: ********</h4>
    <h4>Balance: {{'%0.2f' % current_balance}} <a href="{{ url_for('users.updateBalance') }}" type="button" class="btn btn-light">ADD or WITHDRAW</a> </h4>
    <a href="{{ url_for('users.update') }}" type="button" class="btn btn-dark">Update Profile</a>
    {% if current_user.is_seller() %}
      <a href="{{ url_for('profile.seller') }}" type="button" class="btn btn-dark">Visit Seller Page</a>
    {% else %}
      <a href="{{ url_for('profile.seller') }}" type="button" class="btn btn-dark">Become a Seller</a>
    {% endif %}
</article> 
</div>

<br></br>

<h2>Product Reviews Given</h2>
<table class='table table-hover table-bordered table=sort container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in productreviews%}
      <tr>
        <th scope="row">{{review.pid}}</th>
        <td>{{review.time_reviewed}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.comments}}</td>
        <td>
          <div>
            {{review.votes}}
          </div>
          <div style = 'float: left'>
          <form action='/pr_comments/product{{review.pid}}/user{{review.uid}}/0' method="post">
            <input type="submit" name="review_details" class = "btn btn-secondary" value="Details" />
          </form> 
        </div>
          {% if current_user.uid == review.uid %}
          <div style = 'float: left'>
            <form action='/editproductreview/product{{review.pid}}/reviewer{{review.uid}}' method="post">
              <input type="submit" name="review_details" class = "btn btn-secondary" value="Edit" />
            </form> 
          </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Seller Reviews Given</h2>
<table class='table table-hover table-bordered table=sort container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for review in sellerreviews%}
      <tr>
        <th scope="row">{{review.seller_id}}</th>
        <td>{{review.time_reviewed}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.comments}}</td>
        <td>
          <div>
            {{review.votes}}
          </div>
          <div style = 'float: left'>
            <form action='/sr_comments/seller{{review.seller_id}}/user{{review.uid}}/0' method="post">
            <input type="submit" name="review_details" class = "btn btn-secondary" value="Details" />
          </form> 
          </div>
          {% if current_user.uid == review.uid %}
          <div style = 'float: left'>
            <form action='/editsellerreview/seller{{review.seller_id}}/reviewer{{review.uid}}' method="post">
              <input type="submit" name="review_details" class = "btn btn-secondary" value="Edit" />
            </form> 
          </div>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}