{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<!-- TO FIX: PURCHASES CURRENTLY BROKEN DUE TO NAMING CONVENTIONS -->
<h1>Saved For Later:</h1>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <th scope="row">{{item.pid}}</th>
        <th scope="row">{{item.name}}</th>
        <th scope="row">{{item.unit_price}}</th>

        <th scope="row">
          
          <form action="{{url_for('saveforlaterPage.remove_product', pid = item.pid, uid = current_user.uid)}}" method="POST">   
            <input type="submit" class = "btn btn-secondary" value="Move Back to Cart"> 

          </form> 
        </th>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}